@model int

<li class="nav-item">
    <a class="nav-link text-dark d-flex align-items-center gap-2" asp-controller="Artwork" asp-action="Favorites">
        Favorilerim
        <span class="badge rounded-pill bg-dark">@Model</span>
    </a>
</li>
